{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="container text-center">
        <div class="row">
            <h1>Applicants</h1>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody id="appstable">
        </tbody>
    </table>
    <a class="btn btn-outline-secondary" href="{% url 'log' %}">Log Out</a>
</div>
<script type="module">
// Import the functions you need from the SDKs you need
import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-analytics.js";
import { getFirestore, collection, doc, getDocs, query, where } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore.js";
import { getStorage, ref, uploadBytes } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-storage.js";
import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-auth.js";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
    apiKey: "AIzaSyD7lLWJyA3-h8l6oqMi2krKAhZk9IaaiD8",
    authDomain: "backbonejobapp-8e9f0.firebaseapp.com",
    projectId: "backbonejobapp-8e9f0",
    storageBucket: "backbonejobapp-8e9f0.appspot.com",
    messagingSenderId: "803740709887",
    appId: "1:803740709887:web:afaecb2f5aaf23a94b6dca",
    measurementId: "G-Y6GY9G3LYC",
};
// Initialize Firebase
const app = initializeApp(firebaseConfig);
const db = getFirestore(app);
const storage = getStorage(app);
const auth = getAuth(app);

const appsq = query(collection(db, "apps"), where("FirstName", "!=", null, "&&", "LastName", "!=", null));

const apps = await getDocs(appsq);
apps.forEach((doc) => {
    const firebaseAppData = doc.data();
    const buttons = '';
    
    appstable.innerHTML += '<tr><td>' + firebaseAppData.FirstName + '</td><td>' + firebaseAppData.LastName + '</td><td>' + firebaseAppData.Email + '</td><td>' + firebaseAppData.Number + '</td><td><button type="button" class="btn btn-outline-success" onclick=\'emailAccept(\"' + firebaseAppData.FirstName + '\", \"' + firebaseAppData.Email + '\")\'>Accept</button></td><td><button type="button" class="btn btn-outline-danger" onclick=\'emailReject(\"' + firebaseAppData.FirstName + '\", \"' + firebaseAppData.Email + '\")\'>Reject</button></td></tr>';
});

</script>
<script>
function emailAccept(FirstName, Email){
    const firstName = FirstName;
    const email = Email;
    emailjs.send("service_5yzl0nh","template_yf4mzzd",{
        to_name: firstName,
        from_name: "amar",
        reply_to: email,
        message: "Thank you for applying to Backbone. We are so happy to announce that you have been chosen to work for us. We will catch up with you shortly with more details."
    })
    .then(function(response) {
        console.log('SUCCESS!', response.status, response.text);
    }, function(error) {
        console.error('FAILED...', error);
    });
}
function emailReject(FirstName, Email){
    const firstName = FirstName;
    const email = Email;
    emailjs.send("service_5yzl0nh","template_yf4mzzd",{
        to_name: firstName,
        from_name: "amar",
        reply_to: email,
        message: "Thank you for applying to Backbone. We enjoyed reviewing your application, however, at this time, we unfortunanely cannot offer you a job. We wish you luck in other opportunities, and thank you for applying."
    })
    .then(function(response) {
        console.log('SUCCESS!', response.status, response.text);
    }, function(error) {
        console.error('FAILED...', error);
    });
}
</script>
{% endblock %}