{% extends "base_generic.html" %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block topnav %}
    <a class="nav-link" href="{% url 'companybio' %}">Company</a>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Registration Form</h1>
            </div>
        </div>
        <div class="container" style="margin-bottom: 1.25rem;">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="formcont">
                        <form method="POST" action="{% url 'application' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 custom-select">
                                <label for="pdfSubmission" class="form-label">Select Role:</label>
                                <select id="pdfSubmission" onchange="showRoleDropdown()" class="form-select">
                                    <option value="default">Default</option>
                                    <option value="dataScientist">Data Scientist</option>
                                    <option value="graphicDesigner">Graphic Designer</option>
                                    <option value="mobileAppDev">Mobile App Development</option>
                                    <option value="SocialMedia">Social Media Marketer</option>
                                    <option value="productDesigner">Product Designer</option>
                                    <option value="seniorUserExperience">Senior User Experience Researcher</option>
                                    <option value="electricEngineer">Electric Engineer</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="First_Name" placeholder="John" required>
                                            <label for="First_Name">First Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="Last_Name" placeholder="Doe" required>
                                            <label for="Last_Name">Last Name *</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="url" class="form-control" id="LinkedIn" placeholder="www.linkedin.com/in/">
                                <label for="LinkedIn">LinkedIn Profile URL</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="Email" placeholder="name@example.com" required>
                                <label for="Email">Email *</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="Phone_Num" placeholder="0123456789" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                                <label for="Phone_Num">Phone Number</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="Text" style="height: 100px"></textarea>
                                <label for="Text">Anything else we should know?</label>
                            </div>
                            <div class="mb-3">
                                <label for="Resume" class="form-label">Resume (optional)</label>
                                <input class="form-control" type="file" id="Resume" accept=".pdf">
                                <div class="form-text" id="Resume">PDF only</div>
                            </div>
                            
                            <div id="pdfSubmissionDropdown">
                                <div id="dataScientistFields" style="display: none;">
                                    <label for="dataScientistField">Data Scientist Challenge: Look at the resources in this
                                        <a href="https://drive.google.com/drive/folders/1MRmsQvmj1NlJfvf29ZZGe1qRpYxGxtUi">link.</a>
                                            Analyze the data and provide analyses and recommendations about the
                                            opportunities and challenges facing the business. Not all datasets need to be included in the
                                            analysis and you are encouraged to include outside research.
                                        </label>
                                    <div class="mb-3">
                                        <label for="dataScientistSubmission" class="form-label"> </label>
                                        <input class="form-control" type="file" id="dataScientistSubmission" accept=".pdf">
                                        <div class="form-text" id="dataScientistSubmission">PDF only</div>
                                    </div>
                                </div>
                                <div id="mobileAppFields" style="display: none;">
                                    <label for="mobileAppFields">Mobile App Developer Challenge: Submit a PDF with a link to a GitHub repository for the following challenge: 
                                        Create a mobile application that enables students to create a portfolio of their high school
                                        experiences. This app should allow students to showcase any of the following: their academic
                                        achievements, athletic participation, performing arts experience, clubs and organization
                                        memberships, community service hours, honors classes, and other related items.
                                    </label>
                                    <div class="mb-3">
                                        <label for="mobileAppSubmission" class="form-label"> </label>
                                        <input class="form-control" type="file" id="mobileAppSubmission" accept=".pdf">
                                        <div class="form-text" id="mobileAppSubmission">PDF only</div>
                                    </div>
                                </div>
                                <div id="graphicDesignEngineerFields" style="display: none;">
                                    <label for="graphicDesignEngineerField">Graphic Design Challenge: Your marketing firm has been asked to create a branding package for a new business in your
                                        community. The branding package needs to showcase your unique style and highlight your
                                        skills in today’s design industry. Branding package to include:
                                        • Brand and logo design
                                        • Infographic or brochure of the business
                                        • Advertisements for the promotion of the business
                                        o Magazine advertisement
                                        o Billboard (14 feet high and 48 feet wide)
                                        o Two different social media posts</label>
                                    <div class="mb-3">
                                        <label for="graphicDesignEngineerSubmission" class="form-label">Graphic Design Engineer Submission:</label>
                                        <input class="form-control" type="file" id="graphicDesignEngineerSubmission" accept=".pdf">
                                        <div class="form-text" id="graphicDesignEngineerSubmission">PDF only</div>
                                    </div>
                                </div>
                                <!--this is the social media marketer-->
                                <div id="marketingAdvisorFields" style="display: none;">
                                    <label for="marketingAdvisorField">Marketing Advisor Field:</label>
                                    <div class="mb-3">
                                        <label for="marketingAdvisorSubmission" class="form-label">Marketing Advisor Submission: Your marketing firm has been asked to present a social media strategy for the online summer
                                            fundraising event for your state FBLA chapter. This event is used to secure new donors and
                                            increase existing donor support. You are being asked to present your social media strategy to
                                            the state FBLA Board of Directors at their annual meeting.
                                            Address the following in your social media strategy, focusing on ONE social media platform:
                                            • A schedule of social media posts
                                            • An example of a social media post
                                            • A plan to develop awareness of the fundraising event and organization. 
                                            </label>
                                        <input class="form-control" type="file" id="marketingAdvisorSubmission" accept=".pdf">
                                        <div class="form-text" id="marketingAdvisorSubmission">PDF only</div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-secondary" type="submit" value="submit" id="submit">Submit</button>
                            <a class="p-3" href="{{request.META.HTTP_REFERER|escape}}">back</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-analytics.js";
        import { getFirestore, collection, doc, setDoc, addDoc } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyD7lLWJyA3-h8l6oqMi2krKAhZk9IaaiD8",
            authDomain: "backbonejobapp-8e9f0.firebaseapp.com",
            projectId: "backbonejobapp-8e9f0",
            storageBucket: "backbonejobapp-8e9f0.appspot.com",
            messagingSenderId: "803740709887",
            appId: "1:803740709887:web:afaecb2f5aaf23a94b6dca",
            measurementId: "G-Y6GY9G3LYC"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getFirestore(app);

        document.getElementById("submit").addEventListener('click', function(e) {
            e.preventDefault();
            const docRef = addDoc(collection(db, "apps"), {
                FirstName: document.getElementById("First_Name").value,
                LastName: document.getElementById("Last_Name").value,
            });
            window.location.href = "{% url 'successapply' %}";
        })
    </script>
{% endblock %}