{% extends "base_generic.html" %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Registration Form</h1>
            </div>
        </div>
        <div class="container" style="margin-bottom: 1.25rem;">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="formcont">
                        <form method="POST" action="{% url 'application' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 custom-select">
                                <label for="pdfSubmission" class="form-label">Select Role:</label>
                                <select id="pdfSubmission" onchange="showRoleDropdown()" class="form-select">
                                    <option value="default">Default</option>
                                    <option value="dataScientist">Data Scientist</option>
                                    <option value="graphicDesigner">Graphic Designer</option>
                                    <option value="mobileAppDev">Mobile App Development</option>
                                    <option value="SocialMedia">Social Media Marketer</option>
                                    <option value="productDesigner">Product Designer</option>
                                    <option value="seniorUserExperience">Senior User Experience Researcher</option>
                                    <option value="electricEngineer">Electric Engineer</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="First_Name" placeholder="John" required>
                                            <label for="First_Name">First Name *</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="Last_Name" placeholder="Doe" required>
                                            <label for="Last_Name">Last Name *</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="url" class="form-control" id="LinkedIn" placeholder="www.linkedin.com/in/">
                                <label for="LinkedIn">LinkedIn Profile URL</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="Email" placeholder="name@example.com" required>
                                <label for="Email">Email *</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="Phone_Num" placeholder="0123456789" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true">
                                <label for="Phone_Num">Phone Number</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="Text" style="height: 100px"></textarea>
                                <label for="Text">Anything else we should know?</label>
                            </div>
                            <div class="mb-3">
                                <label for="Resume" class="form-label">Resume (optional)</label>
                                <input name="Resume" class="form-control" type="file" id="Resume" accept=".pdf">
                                <div class="form-text" id="Resume">PDF only</div>
                            </div>
                            <div id="pdfSubmissionDropdown">
                                <div id="dataScientistFields" style="display: none;">
                                    <label for="dataScientistField">Data Scientist Challenge: Look at the resources in this
                                        <a href="https://drive.google.com/drive/folders/1MRmsQvmj1NlJfvf29ZZGe1qRpYxGxtUi">link.</a>
                                        Analyze the data and provide analyses and recommendations about the
                                        opportunities and challenges facing the business. Not all datasets need to be included in the
                                        analysis and you are encouraged to include outside research.
                                    </label>
                                </div>
                                <div id="mobileAppFields" style="display: none;">
                                    <label for="mobileAppFields">Mobile App Developer Challenge: Submit a PDF with a link to a GitHub repository for the following challenge: 
                                        Create a mobile application that enables students to create a portfolio of their high school
                                        experiences. This app should allow students to showcase any of the following: their academic
                                        achievements, athletic participation, performing arts experience, clubs and organization
                                        memberships, community service hours, honors classes, and other related items.
                                    </label>
                                </div>
                                <div id="graphicDesignEngineerFields" style="display: none;">
                                    <label for="graphicDesignEngineerField">Graphic Design Challenge: Your marketing firm has been asked to create a branding package for a new business in your
                                        community. The branding package needs to showcase your unique style and highlight your
                                        skills in today’s design industry. Branding package to include:
                                        • Brand and logo design
                                        • Infographic or brochure of the business
                                        • Advertisements for the promotion of the business
                                        o Magazine advertisement
                                        o Billboard (14 feet high and 48 feet wide)
                                        o Two different social media posts
                                    </label>
                                </div>
                                <!--this is the social media marketer-->
                                <div id="marketingAdvisorFields" style="display: none;">
                                    <label for="marketingAdvisorField">Marketing Advisor Field:</label>
                                    <div class="mb-3">
                                        <label for="marketingAdvisorSubmission" class="form-label">Marketing Advisor Submission: Your marketing firm has been asked to present a social media strategy for the online summer
                                            fundraising event for your state FBLA chapter. This event is used to secure new donors and
                                            increase existing donor support. You are being asked to present your social media strategy to
                                            the state FBLA Board of Directors at their annual meeting.
                                            Address the following in your social media strategy, focusing on ONE social media platform:
                                            • A schedule of social media posts
                                            • An example of a social media post
                                            • A plan to develop awareness of the fundraising event and organization. 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" id="challengeSubmission" style="display: none;">
                                <label for="challenge" class="form-label"> </label>
                                <input name="Challenge" class="form-control" type="file" id="challenge" accept=".pdf">
                                <div class="form-text" id="challenge">PDF only</div>
                            </div>
                            <button class="btn btn-outline-secondary" type="submit" value="submit" id="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>
                            <a class="p-3" href="{{request.META.HTTP_REFERER|escape}}">back</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm?</h1>
                            </div>
                            <div class="modal-body">
                                <p>Do you confirm your application submition?</p>
                                <span id="file_name"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-outline-primary" href="{% url 'successapply' %}">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init({
            publicKey: "M-nUp84mxxeGtfN2E",
        });
    })();
    </script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-analytics.js";
        import { getFirestore, collection, doc, setDoc, addDoc } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore.js";
        import { getStorage, ref, uploadBytes } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-storage.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyD7lLWJyA3-h8l6oqMi2krKAhZk9IaaiD8",
            authDomain: "backbonejobapp-8e9f0.firebaseapp.com",
            projectId: "backbonejobapp-8e9f0",
            storageBucket: "backbonejobapp-8e9f0.appspot.com",
            messagingSenderId: "803740709887",
            appId: "1:803740709887:web:afaecb2f5aaf23a94b6dca",
            measurementId: "G-Y6GY9G3LYC",
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig, name="uploadapp");
        const analytics = getAnalytics(app);
        const db = getFirestore(app);
        const storage = getStorage(app);
        const resumeRef = ref(storage, 'resumes');

        document.getElementById("submit").addEventListener('click', function(e) {
            e.preventDefault();
            const docRef = addDoc(collection(db, "apps"), {
                FirstName: document.getElementById("First_Name").value,
                LastName: document.getElementById("Last_Name").value,
                Email: document.getElementById("Email").value,
                Role: document.getElementById("pdfSubmission").value,
                LinkedIn: document.getElementById("LinkedIn").value,
                Number: document.getElementById("Phone_Num").value,
                Extra: document.getElementById("Text").value,
                Notes: "",
            });
            const firstName = document.getElementById("First_Name").value;
            const email = document.getElementById("Email").value;
            emailjs.send("service_5yzl0nh","template_got1nmk",{
                to_name: firstName,
                from_name: "Backbone",
                reply_to: email,
            })
            .then(function(response) {
                console.log('SUCCESS!', response.status, response.text);
            }, function(error) {
                console.error('FAILED...', error);
            });
            // Get the file from the form
            //const file = document.getElementById("Resume").files[0];

            // Upload the file to Firebase Storage
            //const uploadTask = resumeRef.put(file);
            //file = request.FILES['Resume'];
            //document.getElementById("file_name").textContent = "file: \"" + file + "\"";
            //file_save = default_storage.save(file.name, file);
            //storage.child("resumes/" + file.name).put("media/" + file.name);
            //uploadBytes(resumeRef, file);
            //resumeRef.put(file);
            //default_storage.delete(file.name);
            //messages.success(request, "File upload in Firebase Storage successful")
            
        })

    </script>
{% endblock %}