<!-- Generic Template. -->
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- setting up for emails-->
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <!-- Title and favicon -->
    <link rel=icon href="{% static 'images/backbonelogo.png' %}" sizes=128x128 type=image/png>
    <title>{% block title %}Backbone{% endblock %}</title>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles/scripts -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'javascript/scripts.js' %}"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
      <div class="container-fluid">
        <!-- Navbar brand with logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/backbonelogo.png' %}" alt="Logo" width="30" height="30">
          Backbone
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarNavAltMarkup" aria-labelledby="offcanvasNavbarLabel">
          <div class="navbar-nav">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" href="{% url 'index' %}" id="offcanvasNavbarLabel">Backbone</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-grow-1 pe-3">
              <!-- Default navbar links -->
              <!-- Additional navbar links (block content) -->
              {% block topnav %}
                <a class="nav-link" href="{% url 'application' %}">Apply</a>
                <a class="nav-link" href="{% url 'companybio' %}">Company</a>
                <a class="nav-link" href="{% url 'help' %}">Help</a>
                <a class="nav-link" href="{% url 'login' %}" id="logElement">Admin Log In</a>
                <a class="nav-link" href="{% url 'adminpage' %}" id="authElement" style="display: none;">My Page</a>
              {% endblock %}
              <!-- Color Mode Toggle -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Display</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" data-bs-theme-value="light" role="button">Light</a></li>
                  <li><a class="dropdown-item" data-bs-theme-value="dark" role="button">Dark</a></li>
                  <li><a class="dropdown-item" data-bs-theme-value="auto" role="button">System</a></li>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main content block -->
    <br>
    {% block content %}
    {% endblock %}
    <br>
    <!-- Citation Nav -->
    <nav class="navbar bg-body-tertiary" style="min-height: 100px; position absolute; bottom 0; flex-grow: 1;">
      <div class="container-fluid">
        <span class="navbar-text">
          All information was directly sourced from 
          <a href="https://playbackbone.com/" target="_blank">Backbone</a>, 
          <a href="https://www.ziprecruiter.com/Salaries/26-Hr-Yearly-Salary" target="_blank">ZipRecruiter</a>, &
          <a href="https://colorlib.com/wp/website-color-statistics/" target="_blank">Colorlib</a>.
        </span>
      </div>
    </nav>
  </body>
  <script>
  (() => {
  'use strict'

  const getStoredTheme = () => localStorage.getItem('theme')
  const setStoredTheme = theme => localStorage.setItem('theme', theme)

  const getPreferredTheme = () => {
    const storedTheme = getStoredTheme()
    if (storedTheme) {
      return storedTheme
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }

  const setTheme = theme => {
    if (theme === 'auto') {
      document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
    } else {
      document.documentElement.setAttribute('data-bs-theme', theme)
    }
  }

  setTheme(getPreferredTheme())

  const showActiveTheme = (theme, focus = false) => {
    const themeSwitcher = document.querySelector('#bd-theme')

    if (!themeSwitcher) {
      return
    }

    const themeSwitcherText = document.querySelector('#bd-theme-text')
    const activeThemeIcon = document.querySelector('.theme-icon-active use')
    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
    const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')

    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
      element.classList.remove('active')
      element.setAttribute('aria-pressed', 'false')
    })

    btnToActive.classList.add('active')
    btnToActive.setAttribute('aria-pressed', 'true')
    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
    const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
    themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

    if (focus) {
      themeSwitcher.focus()
    }
  }

  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
    const storedTheme = getStoredTheme()
    if (storedTheme !== 'light' && storedTheme !== 'dark') {
      setTheme(getPreferredTheme())
    }
  })

  window.addEventListener('DOMContentLoaded', () => {
    showActiveTheme(getPreferredTheme())

    document.querySelectorAll('[data-bs-theme-value]')
      .forEach(toggle => {
        toggle.addEventListener('click', () => {
          const theme = toggle.getAttribute('data-bs-theme-value')
          setStoredTheme(theme)
          setTheme(theme)
          showActiveTheme(theme, true)
        })
      })
  })
})()
  </script>
<script type="module">
// Import the functions you need from the SDKs you need
import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-analytics.js";
import { getFirestore, collection, doc, setDoc, addDoc } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore.js";
import { getStorage, ref, uploadBytes } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-storage.js";
import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-auth.js";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
    apiKey: "AIzaSyD7lLWJyA3-h8l6oqMi2krKAhZk9IaaiD8",
    authDomain: "backbonejobapp-8e9f0.firebaseapp.com",
    projectId: "backbonejobapp-8e9f0",
    storageBucket: "backbonejobapp-8e9f0.appspot.com",
    messagingSenderId: "803740709887",
    appId: "1:803740709887:web:afaecb2f5aaf23a94b6dca",
    measurementId: "G-Y6GY9G3LYC",
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
const db = getFirestore(app);
const storage = getStorage(app);
const auth = getAuth();
const user = auth.currentUser;
if(user !== null){
  console.log(user.email);
} else {
  console.log("no one's logged in");
}
    if (user) {
      console.log("someones logged in");
        document.getElementById("logElement").style.display = "none";
        document.getElementById("authElement").style.display = "block";
    } else {
      console.log("someones logged out");
        document.getElementById("logElement").style.display = "block";
        document.getElementById("authElement").style.display = "none";
    }
</script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
(function(){
    emailjs.init({
        publicKey: "M-nUp84mxxeGtfN2E",
    });
})();
</script>
</html>