<!-- Benefits Page. -->
{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <style>
        .carousel-indicators {
            bottom: -45px; /* Adjust the bottom position of indicators */
        }
        .carousel-indicators button {
            background-color: white; /* Set indicator color to white */
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black; /* Set control icon background to white */
        }
    </style>
    <div class="row justify-content-left banner" style="background-image: url({% static 'images/hexagonalpattern.png' %}); background-repeat: no-repeat; background-position: right center; background-size: 100vh;">
        <div class="col-0 col-md-1">
        </div>
        <div class="col-10 col-md-7 p-0 p-md-5 text-left z-n1" style="max-width: 70rem; top: 50%;">
            <h1 class="display-6" style="padding: 10px;">Supporting and investing in our employees</h1>
            <p class="p-2 lead">We can’t achieve our mission to empower everyone on the planet to achieve more unless our employees can do their best work. Our perks and benefits are essential to our success. Learn how Microsoft cares, supports and invests in our employees.</p>
        </div>
        {% comment %} <div class="col-12 col-md-4 p-0 p-md-5 text-center z-n1" style="max-width: 70rem; top: 50%;">
            <img src="{% static 'images/png-transparent-thumb-up.png' %}" class="img-fluid fadefromright" alt="Controller" style="max-height: 35vh;">
        </div> {% endcomment %}
        <!-- work on this thing for the other pages too --------------------------------------------------- -->
    </div>
    <br>
    <div id="benefitsCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: grey"></button>
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: grey"></button>
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: grey"></button>
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="3" aria-label="Slide 4" style="background-color: grey"></button>
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="4" aria-label="Slide 5" style="background-color: grey"></button>
            <button type="button" data-bs-target="#benefitsCarousel" data-bs-slide-to="5" aria-label="Slide 6" style="background-color: grey"></button>
            
        </div>

        <!-- Carousel inner -->
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/Medical.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Medical, dental, and vision insurance for employees and dependents</h1>
                            
                                <p>
                                    Our health insurance plans offer comprehensive coverage that includes preventive care, specialist visits, and prescription drugs. We provide flexible plan options tailored to meet the needs of individuals or families, ensuring that everyone can find the right coverage for their situation. Additionally, we offer 24/7 customer support to assist with claims and inquiries, providing peace of mind and convenience whenever you need it.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/Mental Health2.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Employee assistance programs focused on mental health</h1>
                            
                                <p>
                                    We offer confidential counseling services for stress management, anxiety, and depression. Our online resources and virtual support groups are accessible anytime, anywhere, providing convenient support whenever it's needed. Additionally, we have a referral network for specialized mental health care providers, ensuring that you can get the specific help you require.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/3rd one.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Workplace accommodations for physical or mental health concerns</h1>
                            
                                <p>
                                    We provide customized ergonomic setups for optimal comfort and productivity. Our flexible work schedules or remote work options accommodate medical appointments or therapy sessions, ensuring you can maintain your health without sacrificing your work commitments. Additionally, our dedicated HR support is available to assist with disability accommodations and workplace adjustments, making sure you have the necessary support to thrive in your role.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 4 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/4th one.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Onsite wellness centers and access to mental health apps</h1>
                            
                                <p>
                                    We offer fully equipped fitness facilities with personal training and group exercise classes. You will have access to leading mental health apps that provide meditation, mindfulness, and stress reduction techniques. Additionally, we conduct regular health screenings and wellness workshops to promote holistic well-being, ensuring a comprehensive approach to your health.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 5 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/Medical Advice.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Second medical opinion for you and your loved ones</h1>
                            
                                <p>
                                    We provide a streamlined process for seeking expert medical advice from renowned specialists. Our services include coordination of medical records and appointment scheduling for your convenience. This ensures peace of mind, knowing that all treatment options have been thoroughly explored.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Slide 6 -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/Bonuses.png' %}" class="img-fluid" alt="" style="height: 55vh">
                        </div>
                        <div class="col-12 col-md-5">
                            <h1 class="display-6 p-2">Competitive Compensation Package</h1>
                            
                                <p>
                                    According to ZipRecruiter, $89,000 is the 75th percentile of pay for startup salaries. Our starting pay is more than double that. In addition to competitive base salaries, we offer performance-based bonuses and stock options to reward excellence and incentivize long-term commitment. Our transparent salary structures and regular reviews ensure equitable compensation and opportunities for advancement.
                                </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#benefitsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#benefitsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <div class="row fadefromright justify-content-start">
        <div class="col-12 col-md-6 justify-content-center">
            <img src="{% static 'images/Work Culture.png' %}" class="img-fluid" alt="Image" style="margin: 15%; max-height: 50%;">
        </div>
        <div class="col-12 col-md-5 text-center align-items-center">
            <div class="row align-items-center">
                <h1>
                    Culture
                </h1>
                <p class="p-3 lead">We fundamentally believe in a culture grounded in a growth mindset, where everyone can grow and develop, and potential is nurtured rather than pre-determined. Embracing continuous learning and insatiable curiosity, we are willing to face uncertainty, take risks, and swiftly learn from our mistakes, understanding that failure is part of the journey to mastery. We value the ideas of others and recognize that their success does not diminish our own. This mindset enables us to thrive and innovate collectively.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row fadefromleft justify-content-end">
        <div class="col-12 col-md-5 text-center align-items-center">
            <div class="row align-items-center">
                <h1>
                    Diversity and Inclusion
                </h1>
                <p class="p-3 lead">Backbone hires and develops the best talent, bringing a wide range of perspectives, backgrounds, and experiences to the industry. We believe that diversity and inclusion are critical to our success, as they foster a vibrant workplace where every voice is heard and valued. By embracing employees who represent the markets we serve, we gain consumer insight, creativity, and real-time market innovation. Our commitment to a diverse and inclusive environment drives our ability to innovate and better serve our customers.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="{% static 'images/Diversity and Inclusion.png' %}" class="img-fluid" alt="Image" style="margin: 15%; max-height: 50%;">
        </div>
    </div>
    <br>
    <div class="row fadefromright justify-content-start">
        <div class="col-12 col-md-6">
            <img src="{% static 'images/Flexible Work.png' %}" class="img-fluid" alt="Image" style="margin: 15%; max-height: 50%;">
        </div>
        <div class="col-12 col-md-5 text-center align-items-center">
            <div class="row align-items-center">
                <h1>
                    Flexibe Work
                </h1>
                <p class="p-3 lead">At Backbone, we value and support flexibility as part of our hybrid workplace, where every employee can do their best work by working the way they work best. A hybrid workplace is a mix of workstyles across work site, work location, and work hours. We understand that flexibility is key to maintaining a healthy work-life balance, enhancing productivity, and fostering job satisfaction. By offering options such as remote work, flexible hours, and adaptive workspaces, we empower our employees to tailor their work environment to their unique needs and preferences. This approach not only helps individuals thrive but also strengthens our collective success.</p>
            </div>
        </div>
    </div>
{% endblock %}
