<!-- Position Bio Page. -->
{% extends "register_generic.html" %}
{% block title %}DataScientistRegistration{% endblock %}
{% block position %}Data Scientist{% endblock %}
{% block bio %}
    <!-- Position Bio -->
    <p>Backbone is growing the data team to help discover more insights and build better products from its wealth of gaming data. We are looking for a Data Scientist that has experience leading deep product analysis to uncover insights, crafting robust datasets, and building great data products based on ML/statistical applications.</p>
    <p>As one of the first members on the data team, you’ll get to help shape the data team from the ground up, define best data science practices within the organization, and lead explorative analyses to influence the product roadmap.</p>
    <!-- Position Description. -->
    <h3>What you'll be doing</h3>
    <ul class="list">
        <li>Analyze our vast collection of gaming and product data to discover insights, build models to answer key business questions and address customer problems, and make business recommendations across the company from engineering teams to the CEO</li>
        <li>Use SQL and Python to prepare, clean, and transform data into robust datasets</li>
        <li>Collaborate with product and engineering to build data-powered features in the Backbone app</li>
        <li>Design, create, and maintain data dashboards to help the team make better data-driven decisions</li>
        <li>Work with our feature teams to design experiments, define success metrics, and analyze feature performance</li>
    </ul>
    <!-- Position Requirements. -->
    <h3>What we're looking for</h3>
    <ul class="list">
        <li>Passion for discovering data insights and high data quality</li>
        <li>1-2+ years experience as a Data Scientist, Data Engineer, Data Analyst, or Software Engineer in data</li>
        <li>Expert in SQL and Python</li>
        <li>Ability to perform data science/analytical investigations to drive business decisions</li>
        <li>Ability to communicate effectively to stakeholders of varying technical levels</li>
        <li>Ability to define and implement key metrics for both business level objectives as well as feature level goals</li>
        <li>Background in computer science and software engineering fundamentals</li>
        <li>Remote friendly</li>
        <li>Bonus points: See yourself as a Data Generalist with an emphasis on Data Science</li>
        <li>Bonus points: Familiarity with dbt, Mode Analytics, and/or Sisu Data</li>
        <li>Bonus points: Worked as a Data Scientist on a consumer/mobile product</li>
    </ul>
    <!-- Quotes/Citations. -->
    <p>"Backbone feels as first-party as you could make something that is literally not first-party feel." - <a target="_blank" rel="noopener noreferrer nofollow" class="postings-link" href="https://techcrunch.com/2020/10/27/with-backing-from-mr-beast-and-nadeshot-backbone-one-could-finally-crack-competitive-mobile-gaming/"><u>TechCrunch</u></a></p>
    <p>“The way that Backbone unifies gaming experiences across AAA iOS ports like Warzone or Minecraft, Xbox and Playstation Remote Play and now native xCloud games feels like the way of the future for mobile gaming in a way that none of the individual players… [have] managed to get right.” - <a target="_blank" rel="noopener noreferrer nofollow" class="postings-link" href="https://techcrunch.com/2020/10/27/with-backing-from-mr-beast-and-nadeshot-backbone-one-could-finally-crack-competitive-mobile-gaming/"><u>TechCrunch</u></a></p>
{% endblock %}