{% extends "register_generic.html" %}

{% block title %}ElectricEngineer{% endblock %}
{% block position %}Electric Engineer{% endblock %}
{% block bio %}
    <p>We're looking for skilled Electrical Engineers with experience shipping consumer products to join our devices team. You'll have the opportunity to drive conception, development and mass production of exciting future products in close collaboration with the industry’s best industrial designers, product design engineers, operations managers and software engineers.</p>
    <p>This is a hybrid role requiring in-office time at our Bay Area hardware engineering office.</p>
    <h3>What you'll be doing</h3>
    <ul>
        <li>Own PCBA and EE modules end to end, from initial concept through shipping and sustaining engineering</li>
        <li>Create design solutions based on first-principles and technical analysis followed by implementation in layout and testing via firmware</li>
        <li>Communicate and collaborate with key cross-functional team members, including executives and leads</li>
        <li>Validate designs through physical prototypes, including board bring-up, FA and build support</li>
        <li>Raise the bar for electrical engineering best practices on the team</li>
    </ul>
    <h3>What's required</h3>
    <ul>
        <li>Demonstrated experience owning hardware on shipped mass-market products, including failure analysis/corrective action ownership</li>
        <li>Excellent electrical engineering fundamentals, including analog and digital design</li>
        <li>Experience in hardware testing via firmware including familiarity with I2C, I2S, SPI, UART, and USB buses, and the C/C++ programming languages</li>
        <li>Exceptional communication and organization skills with ability to clearly articulate and document issues, including excellent presentation/slide skills</li>
        <li>Experience using tools such as oscilloscopes, logic analyzers, and spectrum analyzers</li>
        <li>Demonstrated experience designing PCBA, including component selection, schematic creation, layout, and design for manufacturing (DFM)</li>
        <li>Experience working in high-pressure, low-information environments requiring successful risk judgment, strong decision making skills and personal resiliency</li>
        <li>Comfortable taking constructive feedback and improving performance at a dynamic and rapidly growing company</li>
        <li>Able to work autonomously with strong commitment to ownership over tasks and prototypes, including accountability as a Directly Responsible Individual (DRI)</li>
        <li>Ability to generate bursts of high-intensity output when needed</li>
        <li>This role may require international travel</li>
    </ul>
    <h3>What's ideal</h3>
    <ul>
        <li>Electrical leadership role on multiple shipped mass-market products (1M+ units per year)</li>
        <li>Experience using PCB design software such as Fusion 360 Electronics / Eagle and PADS</li>
        <li>Experience with manual and/or automated EE test jigs</li>
        <li>Hand-soldering skills including some experience with small CSP and QFN components</li>
        <li>Experience with RF design, including antenna design and RF testing. Some experience with NFC advantageous. </li>
        <li>Previous experience working on both small (startup) and large (big tech) teams</li>
        <li>Previous experience directly working with overseas/APO CM and parts vendors</li>
        <li>Interest in learning new hardware/software skills with goal of continuous growth</li>
        <li>Desire to build cross-functional team relationships and continuously improve communication, development and analysis processes</li>
        <li>Interest or experience in gaming industry, especially handhelds</li>
        <li>BS/MS in Electrical Engineering or equivalent</li>
    </ul>
{% endblock %}