{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
    <div class="row">
        <h1 class="display-1 p-5">Frequently Asked Questions</h1>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-4">1. What is the starting salary for this position?</h3>
            <p class="lead">The starting salary depends on various factors, including your experience and qualifications. Please refer to the job description or contact our HR department for more information.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-4">2. How can I apply for this job?</h3>
            <p class="lead">You can apply for the job through our online application portal. Visit our careers page for more details and to submit your application.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-4">3. What benefits are offered with this position?</h3>
            <p class="lead">We offer a comprehensive benefits package including health insurance, retirement plans, paid time off, and more. Specific details can be provided upon request or during the interview process.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-4">4. Is there room for advancement within the company?</h3>
            <p class="lead">Yes, we encourage career growth and development within our organization.
Opportunities for advancement are available based on performance and merit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-4">5. How can I contact the HR department for further inquiries?</h3>
            <p class="lead">You can contact our HR department at <a href="mailto:backbonejobapply@gmail.com">backbonejobapply@gmail.com</a> for any additional questions or assistance.</p>
        </div>
    </div>
    <div class="d-grid gap-2 mt-5">
        <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-lg">Return to Homepage</a>
    </div>
</div>
{% endblock %}