<!-- Main Page. -->
{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <!-- Header section with background color and image -->
    <div class="container-fluid">
        <div class="row justify-content-center" style="min-height: 60vh;">
            <div class="col-12 p-0 p-md-5 text-center z-n1" style="max-width: 70rem; top: 50%;">
                <!-- Image with animation -->
                <img src="{% static 'images/backboneblackcontrollerback.png' %}" class="img-fluid" id="bigimage" alt="Controller" style="">
            </div>
            <!-- Button section -->
            <div class="col-12 p-5 text-center">
                <h1 class="display-6">Apply to Backbone Today!</h1>
                <br>
                <a class="btn btn-outline-secondary btn-lg" href="#positions">Open Positions</a>
            </div>
        </div>
        <!-- Content section -->
        <div class="row" style="color: #fff;">
            <div class="col">
                <!-- Content blocks -->
                <div class="row">
                    <!-- Image and text block -->
                    <div class="col-12 col-md-6" style="background-color: #666;">
                        <img src="{% static 'images/backboneblackcontroller.png' %}" class="img-fluid" alt="Controller">
                    </div>
                    <div class="col-12 col-md-6 text-center align-items-center" style="background-color: #222;">
                        <div class="row align-items-center">
                            <p class="p-5 lead">Backbone's vision is to become the platform for core gaming on mobile devices, allowing anyone to access and play games anywhere.</p>
                        </div>
                    </div>
                </div>
                <!-- Another content block -->
                <div class="row">
                    <!-- Text and image block -->
                    <div class="col-12 order-last col-md-6 order-md-first text-center" style="background-color: #333;">
                        <p class="p-5 lead">Similar to Roku, Backbone is a universal platform for game streaming and, more broadly, core gaming on mobile. Players use it to enjoy App Store games, Xbox Game Pass, PlayStation Remote Play and more through compelling gameplay, content creation, and community.</p>
                    </div>
                    <div class="col-12 order-first col-md-6 order-md-last" style="background-color: #444;">
                        <img src="{% static 'images/backbonewhitecontroller.png' %}" class="img-fluid" alt="Controller">
                    </div>
                </div>
                <!-- Another content block -->
                <div class="row">
                    <!-- Image and text block -->
                    <div class="col-12 col-md-6" style="background-color: #555;">
                        <img src="{% static 'images/backboneblackgamingcontroller.png' %}" class="img-fluid" alt="Controller">
                    </div>
                    <div class="col-12 col-md-6 text-center" style="background-color: #111;">
                        <p class="p-5 lead">It's backed by Index, the same investor behind Discord, Roblox, and Rec Room, as well as companies like Figma and Robinhood.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call-to-action section -->
        <div class="container text-center">
            <p class="p-5 lead">On this page, we are offering an opportunity to apply for an open position at Backbone. We hope you consider sending us an application so you can join the team and help do great things!</p>
            <div class="d-grid gap-2">
                <a href="{% url 'benefits' %}" class="btn btn-outline-secondary btn-lg">Why work for Backbone?</a>
            </div>
        </div>
        <!-- Positions section -->
        <div class="container text-center">
            <div class="row">
                <h1 class="display-1 p-5" id="positions">Backbone Positions</h1>
            </div>
        </div>
        <!-- List of positions section -->
        <div class="row justify-content-center" style="padding-bottom: 10%;">
            <div class="col-8" style>
                <div class="container d-flex justify-content-center">
                    <ul class="list-group mt-5">
                        <!-- Links to various job positions -->
                        <!-- Each list item represents a different job position -->
                        <a href="{% url 'datascientist' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Data Scientist</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <!-- More job positions -->
                        <!-- Repeat similar structure for other job positions -->
                        <a href="{% url 'graphicdesigner' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Graphic Designer</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'mobileappdev' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Mobile App Developer</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'socialmedmarketer' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Social Media Marketer</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'productdesigner' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Product Designer</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'senuserexpresearch' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Senior User Experience Researcher</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'electricengineer' %}">
                            <li class="list-group-item d-flex justify-content-between align-content-center" style="color: var(--bs-list-group-color);">
                                <div class="d-flex flex-row">
                                    <div class="ml-2">
                                        <h6 class="mb-0">Electric Engineer</h6>
                                        <div class="about">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
