<!-- Position Bio Page. -->
{% extends "register_generic.html" %}
{% block title %}MobileAppDev{% endblock %}
{% block position %}Mobile App Developer{% endblock %}
{% block bio %}
    <p><strong>We're seeking a talented Mobile App Developer to join our team.</strong> In this role, you'll be responsible for developing and maintaining high-quality mobile applications that offer seamless user experiences. You'll collaborate closely with our design and product teams to bring innovative ideas to life and enhance our mobile app offerings. This position offers the opportunity to work remotely or on-site, depending on preference and location.</p>
    <h3>What you'll be doing</h3>
    <ul class="list">
        <li>Develop and maintain mobile applications for iOS and/or Android platforms</li>
        <li>Collaborate with cross-functional teams to define, design, and ship new features</li>
        <li>Ensure the performance, quality, and responsiveness of applications. Identify and troubleshoot issues, bugs, and performance bottlenecks</li>
        <li>Continuously discover, evaluate, and implement new technologies to maximize development efficiency.</li>
        <li>Participate in code reviews, architectural discussions, and technical design sessions</li>
        <li>Stay updated on mobile app development trends, best practices, and emerging technologies</li>
    </ul>
    <h3>What's required</h3>
    <ul class="list">
        <li>Bachelor's degree in Computer Science, Engineering, or a related field, or equivalent practical experience</li>
        <li>Proven experience developing and launching mobile applications for iOS and/or Android platforms</li>
        <li>Proficiency in programming languages such as Swift, Objective-C, Java, Kotlin, or Flutter/Dart</li>
        <li>Strong understanding of mobile app architecture, design patterns, and best practices</li>
        <li>Experience with RESTful APIs and integration of third-party libraries and services</li>
        <li>Solid understanding of mobile UI/UX principles and ability to implement responsive designs</li>
        <li>Excellent problem-solving and analytical skills, with a keen attention to detail</li>
        <li>Ability to work independently and collaboratively in a fast-paced environment</li>
        <li>Strong communication and interpersonal skills</li>
    </ul>
    <h3>What's ideal</h3>
    <ul class="list">
        <li>Experience with cross-platform development frameworks such as React Native or Xamarin</li>
        <li>Familiarity with cloud-based services and server-side technologies</li>
        <li>Knowledge of CI/CD pipelines and automated testing frameworks</li>
        <li>Published apps on the App Store or Google Play Store</li>
        <li>Passion for mobile technology and eagerness to stay updated on the latest trends and advancements</li>
    </ul>
{% endblock %}