{% extends "register_generic.html" %}
{% block title %}ProductDesigner{% endblock %}
{% block position %}Product Designer{% endblock %}
{% block bio %}
    <p><strong>Backbone is looking for a talented product designer.</strong> The product designer role is responsible for designing our web experiences across our website, and retail and partner channels. You will collaborate with members of the web team, Data Science, Product, Design, Core Gaming, Devices, and more to transform ideas into tangible results. Mastery in visual design, web design, and research best practices is essential, along with an in-depth understanding of web development workflows and the nuances of launching an outstanding website.</p>
    <p>Work remotely from any location or join our teams at our offices in Portland, Seattle, and San Francisco. Note: Our core hours are from 10 am to 2 pm PST.</p>
    <h3>Responsibilities</h3>
    <ul class="list">
        <li>Own design problems from start to finish, from the initial concept to post-launch.</li>
        <li>Craft high-fidelity mockups and produce detailed design specifications for engineers.</li>
        <li>Develop and sustain a robust library of shared design components.</li>
        <li>Refine designs based on both quantitative and qualitative feedback.</li>
        <li>Collaborate with engineers, designers, product managers, and data scientists to create captivating web experiences at scale.</li>
        <li>Partner with major retail and e-commerce platforms to design standout integrations.</li>
    </ul>
    <h3>Qualifications</h3>
    <ul class="list">
        <li>Expertise in Figma & prototyping tools (Origami Studio, After Effects, etc.).</li>
        <li>Proficiency in the Adobe suite (Illustrator, Photoshop, etc.).</li>
        <li>Prior experience crafting products and experiences on web platforms.</li>
        <li>Familiarity with mobile and web design patterns.</li>
        <li>Skill in steering team discussions and guiding decisions.</li>
        <li>Demonstrated experience designing for a consumer audience.</li>
        <li>Ability to articulate and visually present ideas effectively</li>
        <li>A history of delivering top-tier design, knowing the specifics of each release phase, and proficiency in strategic decision-making.</li>
        <li>An online design portfolio will be required for this role.</li>
    </ul>
    <h3>Bonus Points</h3>
    <ul class="list">
        <li>Past D2C experience with renowned brands.</li>
        <li>A passion for gaming!</li>
    </ul>
{% endblock %}