{% extends "base_generic.html" %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <h1 class="display-1 p-5">{% block position %}{% endblock %}</h1>
        </div>
    </div>
    <div class="container" style="font-weight: 300;">
        <div class="row p-5">
            <div class="d-grid gap-2">
                <a href="{% url 'application' %}" class="btn btn-outline-light btn-lg">Apply</a>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10%;">
            {% block bio %}{% endblock %}
        </div>
    </div>
{% endblock %}