<!-- Position Bio Page. -->
{% extends "register_generic.html" %}
{% block title %}SeniorUserExperienceResearch{% endblock %}
{% block position %}Senior User Experience Researcher{% endblock %}
{% block bio %}
    <p><strong>Senior User Experience Researcher - platform and subscriptions at Backbone</strong></p>
    <p><strong>Bay Area (United States)</strong></p>
    <p><strong>Backbone is looking for a talented user researcher.</strong> This Senior User Experience Researcher will help define and drive the future of Backbone’s app platform and subscription, Backbone+. They will develop and execute research strategy, in partnership with product, design and engineering to build the best gaming experiences for our users. As the sole researcher focused on platform and subscriptions, you have the opportunity to make an outsized impact on Backbone’s trajectory.</p>
    <p>This role is primarily remote but requires a weekly office day in our bay area office, located in Palo Alto, CA. Some of your key partners from product and design will also be in attendance.</p>
    <h3>What you'll be doing</h3>
    <ul class="list">
        <li>Develop research strategies to effectively influence product roadmaps and designs</li>
        <li>Plan and conduct qual and quant studies to answer relevant business and product questions</li>
        <li>Gather data through a mixed-methods approach to uncover new insights</li>
        <li>Create deliverables in multiple formats to effectively deliver impact to a team</li>
        <li>Define and support research best practices to support a growing business</li>
        <li>Partner with and influence a talented team of engineers, product managers, and designers to realize the ideal user experience</li>
        <li>Manage external research operations partners</li>
    </ul>
    <h3>What we're looking for</h3>
    <ul class="list">
        <li>Bachelor's degree in Human-Computer Interaction, Cognitive Science, Statistics, Psychology, Anthropology, related field, or equivalent practical experience</li>
        <li>4+ years shipping consumer software experiences</li>
        <li>Experience in both quantitative and qualitative research methodologies</li>
        <li>Excellent written and oral communication and influence skills</li>
        <li>A desire to grow within a small team and build world-class gaming experiences</li>
        <li>Expertise in one or more of the following methods: interviewing, surveys, playtesting, diary studies, ethnographies, statistical analysis</li>
        <li>Passionate about the gaming space (plays or has played video games in the past)</li>
        <li>(Bonus) Master’s degree in Human-Computer Interaction, Cognitive Science, Statistics, Psychology, Anthropology, or related field</li>
        <li>(Bonus) Experience in the gaming industry or integrated consumer hardware/software products</li>
        <li>(Bonus) Experience conducting playtests</li>
    </ul>
{% endblock %}