body {
  min-height: 110%;
}
.list-group {
  width: 100% !important;
  color: #fff;
}
.list-group-item {
  margin-top:10px;
  border: 2px solid #777;
  padding: 20px;
  color: var(--bs-list-group-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list-group a {
  border-radius: 5px;
  text-decoration: none;
}
.list-group-item:hover {
  transform: scaleX(1.1);
  border: 2px solid #f15623;
  box-shadow: 0 0 10px rgba(241, 87, 35, 1);
}
.list {
  padding-left: 2rem;
}
.about span {
  font-size: 12px;
  margin-right: 10px;
}
.img-fluid {
  transition: all 0.3s ease-in-out;
}
.img-fluid:hover {
  transform: scale(1.04);
}
.btn:hover {
  border-color: #f15623;
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 10px rgba(241, 87, 35, 1);
}
.formcont {
  margin-top: 10px;
  border: 2px solid #333;
  padding: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
@keyframes moveUpDown {
  0% {
    top: 0%; /* Start position */
  }
  100% {
    top: 3%; /* End position */
  }
}
@include color-mode(dark) {
  .list-group-item {
  }
}