.list-group{
  width: 100% !important;
}
.list-group-item{
  margin-top:10px;
  border: 2px solid #777;
  padding: 20px;
  background: #151411;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.list-group a {
  border-radius: 5px;
  text-decoration: none;
}
.list-group-item:hover{
  transform: scaleX(1.1);
  background: #333;
  border: 2px solid #f15623;
}
.about span{
  font-size: 12px;
  margin-right: 10px;
}
.formcont {
  margin-top:10px;
  border: 2px solid #333;
  padding: 20px;
  background: #fff;
}
.btn-outline-dark:hover {
  background-color: blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}